<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/!"><strong><i>{{appName}}</i></strong></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/!">Home</a></li>
                <li class="active"><a href="#!about">About</a></li>
                <li ng-show="withAccess"><a href="#!tracker">Tracker</a></li>
                <li ng-show="withAccess"><a href="#!random">Randomizer</a></li>
                <li ng-show="noAccess"><a href="#!login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li ng-show="withAccess"><a href="" ng-click="userlogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Hi <span ng-show="withAccess">{{username}}!</span><span ng-show="noAccess">Guest!</span> We are pleased to inform you about our site.</h2></div>
            <div class="panel-body">
                <h4>This application is created for the purpose of practicing angularJS. All data entered and visible in this site (email and password) are not true and just an example used to facilitate a make shift login and logout.

                This site is a developing project and there will be a possibility of it having the capability to save data using Firebase. Data analytics can also be possible in the near future and should be only visible to the user (if authentication would be applied).</h4>
            </div>
        </div>
    </div>
</div>