<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/!"><strong><i>A n g u l a r E x</i></strong></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/!">Home</a></li>
                <li><a href="#!about">About</a></li>
                <li class="active"><a href="#!tracker">Tracker</a></li>
                <li><a href="#!random">Randomizer</a></li>
                <li><a href="" ng-click="userlogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center"><i><strong>T A S K   T R A C K E R</strong></i></h1>
            <p>In this page, you can add your tasks for the day. You can click the task to indicate it is completed.</p>
            <p>Please be reminded that once you refreshed the page, you will automatically logout and the tasks you added will be gone.</p>
        </div>
        <div class="container col-sm-4">
            <div class="panel panel-info" style="min-height:225px">
                <div class="panel-heading">
                    <h4 class="text-center"><strong>ADD TASKS</strong></h4>
                </div>
                <div class="panel-body">
                    <h5><strong>STEP 1:</strong> Add your tasks below.</h5>
                    <form>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <input type="text" class="form-control" ng-model="task" />
                        </div>
                        </br>
                        <button type="button" class="btn btn-info btn-block" ng-click="addTask()">
                            <span class=" glyphicon glyphicon-plus-sign"></span> <strong>ADD TASK</strong>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container col-sm-4">
            <div class="panel panel-warning" style="min-height:225px">
                <div class="panel-heading">
                    <h4 class="text-center"><strong>IN PROGRESS</strong> <span class="badge" ng-show="tasks.length != 0"> {{tasks.length}} </span></h4>
                </div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <h5><strong>STEP 2:</strong> Your tasks will appear in the list below. Each task are a button that can be clicked to indicate that they are completed.</h5>
                    <form>
                        <div class="input-group btn-block" ng-repeat="task in tasks" ng-model="taskIP">
                            <span class="input-group-addon btn btn-danger btn-sm">
                            <button type="button" ng-click="removeInProgress(task)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            </span>
                            <button type="button" class="btn btn-warning btn-sm form-control" ng-click="completeTask(task)">
                                <span class=" glyphicon glyphicon-star-empty"></span> {{task.task}}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="panel-body" style="bottom:0px;">
                    <button type="button" class="btn btn-danger btn-block" ng-click="clearTasks()">
                        <span class=" glyphicon glyphicon-remove-sign"></span> <strong>CLEAR ALL</strong>
                    </button>
                </div>
            </div>
        </div>
        <div class="container col-sm-4">
            <div class="panel panel-success" style="min-height:225px">
                <div class="panel-heading">
                    <h4 class="text-center"><strong>COMPLETED</strong> <span class="badge" ng-show="completed.length != 0"> {{completed.length}} </span></h4>
                </div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <h5><strong>STEP 3:</strong> Your completed tasks are will appear in the list below. Click any of the completed task for it to go back to the <strong>IN PROGRESS</strong> box.</h5>
                    <form>
                        <div class="input-group btn-block" ng-repeat="complete in completed" ng-model="compTsk">
                            <button type="button" class="btn btn-danger btn-sm input-group-addon" ng-click="removeCompleted(complete)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-sm form-control" ng-click="pendingTask(complete)">
                                <span class=" glyphicon glyphicon-star"></span> {{complete.completeTask}}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="panel-body" style="bottom:0px;">
                    <button type="button" class="btn btn-danger btn-block" ng-click="clearCompletedTasks()">
                        <span class=" glyphicon glyphicon-remove-sign"></span> <strong>CLEAR ALL</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>